@import "./bootstrap.scss";

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500;800&family=Open+Sans&display=swap');
* {
	box-sizing: border-box;
}
html, body {
	position: relative;
	max-width: 100vw;
    min-height: 100vh;
	font-family: 'Open Sans', sans-serif !important;
	font-size: 12pt;
	background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
	background-attachment: fixed;
}

h1, h2, strong, b {
	font-family: 'Lora', serif !important;
	font-weight: 800;
}
h3, h4, h5, h6 {
	font-family: 'Lora', serif !important;
	font-weight: 500;
}

body {
	color: #333;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}
